<!DOCTYPE html>
<div class="container">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <a class="navbar-brand page-scroll" href="./" >
      <div class="glyphicon glyphicon-home" ></div></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/registrarus" data-role="button" data-iconpos="notext"  data-icon="edit" data-iconpos="right" data-inline="true">Registrar</a>
          </li>
          <li>
            <a href="./users/login" data-role="button" data-iconpos="notext"  data-icon="user" data-iconpos="right" data-inline="true">Iniciar Sesion</a>
          </li>
        </ul>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- Contact Section -->

  <section>

    <div class="row">
      <div class="col-lg-12 text-center">
        <center><img class=" img-responsive" width="225" src="/screenshots/1506462_1458088304485446_8989748443774803178_n.jpg"></center>
        <center><h5>Bienvenido a Ferreteria Famaco</h5></center>
        <center><img class=" img-responsive"  src="/screenshots/Background_mano_mujer_difuminado_v2copi.png"></center>
      </div>
    </div>

      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Conocenos</h2>
              <h3 class="section-subheading text-muted">compra con FAMACO</h3>
              <h4 class="section-heading">Nuestros Productos</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">

              <div class="row">
                <div class="col-md-6">
                  <!-- Services Section -->
                  <section id="services">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12">
                          <ul class="timeline">
                            <li>
                              <div class="timeline-image">
                                <center><img class="img-circle img-responsive" src="/screenshots/1.jpg"></center>
                              </div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4>Para</h4>
                                  <h4 class="subheading">La Construccion</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Contamos con productos para contruccion</p>
                                </div>
                              </div>
                            </li>
                            <li class="timeline-inverted">
                              <div class="timeline-image">
                                <center><img class="img-circle img-responsive" src="/screenshots/12189598_1519708021656807_6990032171642603465_n.jpg" alt=""></center>
                              </div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4>Para</h4>
                                  <h4 class="subheading">La Oficina</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Contamos con productos para oficina desde escritorios sillas a productos mas pequeños como papel o cuadernos</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="timeline-image">
                                <center><img class="img-circle img-responsive" src="/screenshots/11221766_1522739221353687_320407018877571110_n.jpg" alt=""></center>
                              </div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4>Para</h4>
                                  <h4 class="subheading"> El Hogar</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Contamos con productos para el hogar todo lo que puedas necesitar</p>
                                </div>
                              </div>
                            </li>
                            <li class="timeline-inverted">
                              <div class="timeline-image">
                                <center><img class="img-circle img-responsive" src="/screenshots/12108074_1515122935448649_5117136268774903581_n.jpg" alt=""></center>
                              </div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4>De</h4>
                                  <h4 class="subheading">La Seguridad</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Contamos con productos para la seguridad de tu empresa o de tu hogar</p>
                                </div>
                              </div>
                            </li>

                          </ul>
                        </div>
                      </div>

                  </section>
                  </div>

                  <div class="clearfix"></div>

                </div>

              </div>
            </div>
          </div>
      </section>
      <!-- Services Section -->
      <section id="services">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-6">
              <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
              <h4 class="service-heading"><h2 class="featurette-heading">»  <span class="text-muted">MISIÓN</span></h2></h4>
              <p class="text-muted">Distribución de todos los materiales de ferretería y de construcción para la satisfacción del cliente en el menor tiempo requerido, con la mejor atención, al mejor precio y la mayor confiabilidad del mercado.</p>
            </div>
            <div class="col-md-6">
              <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
              <h4 class="service-heading"><h2 class="featurette-heading">»  <span class="text-muted">VISIÓN</span></h2></h4>
              <p class="text-muted">Ser la empresa distribuidora de líneas y productos de construcción más grande a nivel nacional consolidando la imagen de FAMACO S.R.L. como sinónimos de crecimiento, innovación, seguridad y valor; a través de una constante mejora continua
                en la creación de valor, el capital intelectual y las ventajas competitivas.</p>
            </div>

          </div>
        </div>

        <div class="navbar navbar-default navbar-fixed-bottom">
          <center>Copyright &copy; FAMACO S. de RL - 2016 | Universidad <a href="http://www.unicah.edu">UNICAH</a></center>
        </div>
      </section>
