<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/agency.css' />
  <link rel='stylesheet' href='/css/shop-homepage.css' />
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel="stylesheet" href="/css/jquery.mobile.min.css" />
  <link rel="stylesheet" href="/css/jquery.mobile.theme.min.css" />
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.mobile.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>

</head>

<body>
  {{{body}}}

</body>

</html>
